*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

@font-face {
  font-family: "DM Serif";
  src:
    url("./assets/blog-api-fonts/DMSerifDisplay-Regular.woff2") format("woff2"),
    url("./assets/blog-api-fonts/DMSerifDisplay-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  src:
    url("./assets/blog-api-fonts/Inter18pt-Regular.woff2") format("woff2"),
    url("./assets/blog-api-fonts/Inter18pt-Regular.woff") format("woff");
}
