.loginForm {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 0.2rem;
  gap: 1rem;
  font-family: "Inter";
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.inputContainer input {
  padding-left: 0.1rem;
}

.buttonContainer {
  display: flex;
  gap: 0.3rem;
  font-family: "Inter";
}

.backLink,
.submitButton {
  border: none;
  padding: 0.4rem;
  border-radius: 0.2rem;
}

.backLink:hover,
.submitButton:hover {
  cursor: pointer;
}

.backLink {
  text-decoration: none;
  color: inherit;
  background-color: #e2e8f0;
  color: #334155;
}

.backLink:hover {
  background-color: #fee2e2;
}

.submitButton {
  background-color: #4f46e5;
  color: #ffffff;
}

.submitButton:hover {
  background-color: #3730a3;
}

.header {
  font-family: "DM Serif";
  font-size: 1.15rem;
}
